extends layout

block content
  div(class='text-center container')
    h1 What do you need to do today?

    form(ng-submit='createTodo()' autocomplete='off')
      div(class='row')
        div(class='col col-md-offset-5')
          div.form-group
            label(for='name')
            input#name.form-control(class='form-control-lg text-center' type='text' placeholder='' ng-model='formData')
            //button.btn.btn-primary(type='submit') Record your todo

  div(class='container')
    div(class='row')
      div(class='col')
        div(class='text-center notDone')
          h3 You can do it!
          h6 Here's what you have left!
          button(class='btn btn-outline-danger btn-sm') mark all done
        div(class='checkbox row checkbox-circle' ng-repeat='todo in todos' ng-click='deleteTodo(todo._id)')
          label
            input(type='checkbox')
            | {{todo.text}}

      div(class='col')
        div(class='text-center done')
          h3 Nice work!
          h6 You've done all this stuff!
          button(class='btn btn-outline-success btn-sm') clear all
        div(class='done' ng-repeat='doneTask in done')
            li {{doneTask.text}}

