extends layout

block content
  h1 What do you need to do today?
  div(class='checkbox' ng-repeat='todo in todos')
    label
      input(type='checkbox')
      | {{todo.text}}

  p form data (test): {{formData}}

  form(method='POST' action='')
    div.form-group
      label(for='name') Todo Item
      input#name.form-control(type='text' placeholder='what do you need to do?' ng-model='formData')
      button.btn.btn-primary(type='submit' ng-click='createTodo()') Record your todo