doctype html
html(ng-app='todoAppAng')
  head
    title= Todo
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js")
    script(src="angularCore.js")

    link(rel='stylesheet' href='/stylesheets/style.css')

  body
    div(ng-controller="mainController")
      block content
