body {
  padding: 50px;
  font: 14px "Hiragino Kaku Gothic Pro";
}

h1 {
  color: #4A4A4A;
}

.done {
  color: forestgreen;
  font-size: 18px;
  margin-left: 50px;
}

.form-control-lg {
  margin-bottom: 30px;
}

.form-control:focus {
    border-color: #2F7C6B;
    box-shadow: inset 0 1px 1px rgba(74, 74, 74, 0.53), 0 0 6px rgba(74, 74, 74, 0.6);
}

.notDone {
  color: crimson;
}

.checkbox {
  margin-right: 50px;
}

.btn{
    margin-top: 10px;
}

.checkbox label input {
  /*padding-left: 10px;*/
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-right: 15px;
}

.checkbox label {
  font-size: 18px;
  margin-left: 50px;
  color: crimson;
}

.checkbox input {
  background-color: chartreuse;
  border-radius: 50%;
  border-color: chartreuse;
}

.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}